<div class="block block--white">
  <h1>All your file in one secure location, accessible anywhere</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, aut!</p>
</div>
<div class="block block--accent">
  <h1>All your file in one secure location, accessible anywhere</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, aut!</p>
</div>
<div class="block block--primary">
  <h1>All your file in one secure location, accessible anywhere</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, aut!</p>
</div>
<div class="block block--secondary">
  <h1>All your file in one secure location, accessible anywhere</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, aut!</p>
</div>
