<div class="feature block block--accent">
  <div class="grid grid--1x2">
    <picture class="feature__image">
      <img src="./images/illustration-2.svg" alt="" />
    </picture>
    <div class="feature__body">
      <h2 class="feature__heading">Stay productive, wherever you are</h2>
      <p class="feature__text">
        Never let location be an issue when accessing your files. Fylo has you
        covered for all of your file storage needs.
      </p>

      <p class="feature__text">
        Securely share files and folders with friends, family and colleagues for
        live collaboration. No email attachments required!
      </p>
      <a class="link-arrow" aria-label="Fylo" href="#"
        >See how Fylo works
        <svg class="icon icon--secondary">
          <use xlink:href="/images/sprite.svg#icon-arrow"></use>
        </svg>
      </a>
      <div class="testimonial">
        <blockquote class="quote">
          <svg class="icon quote__icon">
            <use xlink:href="/images/sprite.svg#icon-quotes"></use>
          </svg>
          <p class="quote__text">
            Fylo has improved our team productivity by an order of magnitude.
            Since making the switch our team has become a well-oiled
            collaboration machine.
          </p>
          <div class="media">
            <div class="media__image">
              <img
                src="./images/avatar-testimonial.jpg"
                alt="a happy smiling customer"
              />
            </div>
            <div class="media__body">
              <p class="media__title quote__author">Kyle Burton</p>
              <p class="quote__organiztion">Founder and CEO, Huddle</p>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
