<div class="footer block block--primary">
  <div class="footer__content grid">
    <svg class="icon footer__logo">
      <use xlink:href="/images/sprite-logo.svg#logo"></use>
    </svg>
    <div class="grid grid--1x4">
      <div class="footer__info">
        <div class="media footer__contact">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#icon-phone"></use>
          </svg>
          <p class="media__title">Phone: +1-543-123-4567</p>
        </div>
        <div class="media footer__contact">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#icon-email"></use>
          </svg>
          <p class="media__title">example@fylo.com</p>
        </div>
      </div>
      <ul class="list footer__list">
        <li class="list__item">
          <a aria-label="about fylo" href="#">About Us</a>
        </li>
        <li class="list__item">
          <a aria-label="jobs" href="#">Jobs</a>
        </li>
        <li class="list__item">
          <a aria-label="press" href="#">Press</a>
        </li>
        <li class="list__item">
          <a aria-label="blog" href="#">Blog</a>
        </li>
      </ul>
      <ul class="list footer__list">
        <li class="list__item">
          <a aria-label="about fylo" href="#">Contact Us</a>
        </li>
        <li class="list__item">
          <a aria-label="jobs" href="#">Terms</a>
        </li>
        <li class="list__item">
          <a aria-label="press" href="#">Privacy</a>
        </li>
      </ul>
      <div class="footer__link">
        <ul class="list icon__link">
          <li>
            <a aria-label="fylo facebook page" class="icon__media" href="#">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a aria-label="fylo facebook page" class="icon__media" href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a aria-label="fylo facebook page" class="icon__media" href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
