<div class="hero block block--white">
  <div class="grid grid--1x2">
    <div class="hero__image">
      <img src="./images/illustration-1.svg" alt="" />
    </div>
    <div class="hero__body grid">
      <h1 class="hero__heading">
        All your files in one secure location, accessible anywhere.
      </h1>
      <p>
        Fylo stores your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends, family, and
        co-workers.
      </p>
      <div class="hero__form">
        <form class="form__content" action="#">
          <input
            class="input"
            type="email"
            id="email"
            placeholder="Enter your email.."
            minlength="“10”"
            maxlength="“50”"
            required
          />
          <button class="btn btn--primary" type="submit">Get Started</button>
        </form>
      </div>
    </div>
  </div>
</div>
