<blockquote class="quote">
  <svg class="icon quote__icon">
    <use xlink:href="/images/sprite.svg#icon-quotes"></use>
  </svg>
  <p class="quote__text">
    Fylo has improved our team productivity by an order of magnitude. Since
    making the switch our team has become a well-oiled collaboration machine.
  </p>
  <div class="media">
    <div class="media__image">
      <img
        src="./images/avatar-testimonial.jpg"
        alt="a happy smiling customer"
      />
    </div>
    <div class="media__body">
      <p class="media__title quote__author">Kyle Burton</p>
      <p class="quote__organiztion">Founder and CEO, Huddle</p>
    </div>
  </div>
</blockquote>
